primeiro-projeto-node/aulas/node_modules
primeiro-projeto-node/aulas/yarn.lock


arquitetura-e-testes-node.js/aulas/node_modules

arquitetura-e-testes-node.js/aulas/tmp/*
!arquitetura-e-testes-node.js/aulas/tmp/.gitkeep


arquitetura-e-testes-node.js/desafio/.idea/
arquitetura-e-testes-node.js/desafio/.vscode/
arquitetura-e-testes-node.js/desafio/node_modules/
arquitetura-e-testes-node.js/desafio/build/
arquitetura-e-testes-node.js/desafio/temp/

iniciando-back-end-app/desafio/tmp/*
iniciando-back-end-app/desafio/!tmp/.gitkeep
